.search{
    border-radius: 10px;
    border-color: black;
    font-size: auto;
    display: flex;
    justify-content: right;
}

.button{
    border-radius: 10px;
    margin: 1px;
    background-color: darkgreen;
    color: greenyellow;
    display: flex;
    justify-content: right;
}