.search{
    border-radius: 10px;
    border-color: black;
    font-size: auto;

}

.button{
    border-radius: 10px;
    margin: 1px;
    background-color: darkgreen;
    color: greenyellow;
}

.searchTitle{
    color: white;
    margin-left: 10px;
}